.toggle-display {
	font-size: 30px;
}

.toggle-display i {
	cursor:pointer;
}

.list-style {
	width: 100%;
	border-top: 1px solid grey;
	margin-top: 10px;
	padding-top: 15px;
}

/*.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}*/